html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.wrapper{
    width: 90%;
    max-width: 96rem;
    margin: 0 auto;
}

header {
    height: 8rem;
    background-color: #007CC7;
    margin-bottom: 5rem;
}

h1 {
    text-align: center;
    line-height: 8rem;
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #EEFBFB;
}

.hidden {
    position: absolute;
    left: -999rem;
}

.mainContainer {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content max-content;
    justify-items: center;
    padding: 1rem;
    background-color: #12232E;
    border-radius: 1rem;
    width: fit-content;
    gap: 1rem;
    margin: 0 auto;
}

button {
    background-color: #007CC7;
    border: #EEFBFB solid 1px;
    border-radius: 0.3rem;
    color: #EEFBFB;
    font-size: 1.4rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}

form {
    color: #EEFBFB;
}

select {
    height: 2.6rem;
}

label {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

#colorPicker {
    background-color: #007CC7;
    border: #EEFBFB solid 1px;
    margin: 0.5rem 0;
}

.rainbowBorder {
    border: 1px solid transparent;
    border-radius: 0.3rem;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.rainbowBorder:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

button:hover {
    background-color: #203647;
    border: #EEFBFB solid 1px;

}

#canvasControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#resolutionPicker {
    height: 2rem;
}

#brushControls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
}

#colorPicker {
    width: 100%;
}

#canvas {
    display: grid;
    width: 25rem;
    height: 25rem;
}

.pixel {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

footer {
    margin-top: 5rem;
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 1.4rem;
    background-color: #007CC7;
    color: #EEFBFB;
}

footer p {
    display: inline;
    line-height: 5rem;
}

footer a {
    text-decoration: none;
    color: #EEFBFB;
}

@media screen and (min-width: 500px) {
    
    .mainContainer {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        justify-items: stretch;
    }

    #canvasControls {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #canvas {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 30rem;
        height: 30rem;
    }

    #brushControls {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 600px) {
    
    #canvas {
        width: 40rem;
        height: 40rem;
    }
}

@media screen and (min-width: 800px) {
    
    #canvas {
        width: 50rem;
        height: 50rem;
    }
}